@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --maincolor:  #6699ff;
    --sniegs: rgb(179, 218, 255, 85%);
    --text: #454545;
    --light: #ddecfa;
	--tumsa:  #053172;
	
}
*{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    outline: none;
    transition: all 1s ease-out;
	font-family: 'Roboto';
	transition: all 2s ease-out;
}

body{
    color: var(--text);
}

header {
    background-color: var(--light);
    color: var(--text);
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 0 3rem var(--maincolor);
    transition: box-shadow 0.4s ease-in-out;
    z-index: 100;
}
h1{
	font-size: 3.2rem;
	color: var(--tumsa);
	text-shadow: 2px 1px 2px rgb(113, 149, 255);
}
h2{
	font-size: 2.3rem;
	color: var(--tumsa);
	text-shadow: 2px 1px 2px rgb(113, 149, 255);
	margin: 2rem 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}
p{
	padding: 0 1rem;
}

span{
	color: var(--sniegs);
	text-shadow: 2px 2px 2px rgba(0, 57, 230, 0.7);
	text-align: center;
} 


.btn i{
	color: var(--tumsa);
}
.btn{
	display: inline-block;
    padding: .5rem 1.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    color: var(--text);
    background: var(--light);
    position: relative;
    z-index: 1;
    font-weight: bold;
	text-decoration: none;
	border-radius: .5rem;
}
.navBtn{
	background: var(--sniegs);
	margin-left: 20rem;
}
.btn:hover, .btn i:hover{
	background: var(--sniegs);
	color: var(--tumsa);
}

.navBtn:hover{
	background-color: var(--maincolor);
}

.logo1 img{
	width: 9rem;
	height: 9rem;
	padding: 0.5rem 0 0 0;
}
.logo2 img{
	width: 8rem;
	height: 8rem;
	padding-top: 1rem;
	transform: rotate(20deg);
	padding: 0.5rem 0 0 0;
}
.logo2 img:hover{
	transform: rotate(-20deg);
}
.nav{
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	margin-left: 6rem;
}

.nav a {
    background-image: linear-gradient(
        to right,
		#0039e6,
        #0059ff 50%,
        #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
	margin: 0 2.5rem;
    position: relative;
    -webkit-background-clip: text; /* Safari and Chrome */
    background-clip: text; /* Standard syntax */
    -webkit-text-fill-color: transparent; /* Hide text color */
    transition: background-position 0.6s ease-in-out;
    text-decoration: none; /* Ensure no underline is added */
}

.nav a::before {
    content: '';
    background: var(--maincolor);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: width 0.3s ease-in-out;
}

.nav a:hover {
    background-position: 0;
}

.nav a:hover::before {
    width: 100%;
}

.nav i {
    width: 1.5rem;
    color: var(--text);
    transition: color 0.3s ease;
}

.nav i:hover {
    color: black;
}




/*----------------------------------------------------------------------------Sakums-----------------------------------------------------------------------------------------------*/
#sakums{
	position: relative;


}
#sakums h1{
	font-size: 3.2rem;
	color: var(--tumsa);
	text-shadow: 2px 2px 2px 2px rgba(145, 183, 240, 0.801);
}
#sakums .box-container{
	display: flex;
	flex-direction: row; 
	width: 100%;
	position: relative;	
}
#sakums .box-container .text{
	position: absolute; 
	width: 40%;
    top: 30%; /* Adjust vertical positioning */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); 
	background: rgba(137, 139, 143, 0.39);
    padding: 1rem;
    border-radius: .5rem;
	}
#sakums .box-container h1{	
    color: white; /* Text color */
    font-size: 2.5rem; /* Font size */
    text-shadow: 2px 2px 2px rgba(0, 57, 230, 0.7);
	margin-bottom: 1rem;
	text-align: center;

}
#sakums .box-container p{
    color: white; /* Text color */
    font-size: 1.8rem; /* Font size */
    text-shadow: 2px 2px 2px rgba(0, 57, 230, 0.7);
	text-align: justify;
	padding-top: 1rem ;

}
#sakums  img{
	display: block;
	width: 99vw;
	height: 100%;
}
#sakums .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.233); 
}


/*---------------------------------------------------------------------------Jaunumi-----------------------------------------------------------------------------------------------*/

#jaunumi {
    display: flex;
    justify-content: center; /* Centers the container horizontally */
    align-items: center;
	flex-direction: column; /* Centers the container vertically (if the section has height) */
   margin-bottom: 10rem;
}
#jaunumi h1{
	margin: 2rem 0;
}

#jaunumi .box-container {
    position: relative;
    width: 55%; /* Set the container to 70% width */
    height: 200px; /* Set a height to ensure content fits */
    display: flex;
    justify-content: center; /* Centers the content inside */
    align-items: center;
}

.change {
    position: absolute;
    top: 0;
    width: 100%; /* Occupy the full width of the parent */
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.change.active {
    opacity: 1;
}

#jaunumi .box {
    display: inline-block;
    margin-right: 10px;
    text-align: center; /* Center text inside the boxes */
}

#jaunumi .box img {
    width: 20rem;
   
}



/* #jaunumi .box-container img{
	width: 20rem;
	height: 20rem;
} */


/*--------------------------------------------------------Par Mums------------------------------------------------------------------------------------------------------------*/


#parMums {

    text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.slider-container {
    position: relative;
    width: 70%;
    overflow: hidden;
}

#parMums .box-container {
    display: flex;
	flex-direction: row;
    transition: transform 1.8s ease-in-out;
}

#parMums .box {
    flex: 0 0 100%; 
    padding: 2rem;
    box-sizing: border-box;
    background-color: var(--light);
	border-radius: 1rem;
    display: flex;
    align-items: center;
    height: 28rem;
}

#parMums .box img {
    width: 22rem;
    height: 22rem; 
    margin-right: 2rem;
    border-radius: .2rem;
}

#parMums .box p {
    font-size: 1.6rem;
    margin: 0;
	text-align: justify;
}

.button-container {
    display: flex;
    justify-content: center;
	place-content: center;
	align-items: center;
    margin-top: 1rem;
}

button.prev, button.next {
    background-color: var(--sniegs);
    color: var(--tumsa);
    border: none;
    padding: .8rem 1.1rem;
    cursor: pointer;
    margin: 0 1rem;
    opacity: 0.8;
    font-size: 1.2rem;
	border-radius: .5rem;
}

button.prev:hover, button.next:hover {
    background-color: var(--maincolor);
}

#parMums .video {
    position: relative; 

	width: 100vw; /* Full viewport width */
    height: 100vh;
    overflow: hidden; 
    z-index: -1;
}

#parMums .video video {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    object-fit: cover; /* Cover the container without distortion */
}

#parMums .box-darbinieki{
	display: flex;
	flex-direction: row;
}
#parMums .darbinieks{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 30rem;
	height: auto;
	text-align: center;
	margin: 1rem;
	border-radius: 1rem;
	border: solid 2px var(--maincolor);
	padding: 1rem;
}
#parMums h3{
	font-size: 2rem;
	color: var(--tumsa);
}
#parMums p{
	font-size: 1.5rem;
	color: var(--tumsa);
	padding: 0 1rem;
}
#parMums .box-darbinieki p{
	margin-bottom: 2rem;
}
#parMums .darbinieks img{
	margin: 1rem;
	border-radius: 10rem;
	width: 18rem;
	height: 18rem;
}
#parMums .small-text p{
	font-size: 1.2rem;
	text-align: center;
}

#parMums .citats{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	border: solid 2px var(--maincolor);
}
#parMums .citats p{
	color: var(--text);
}
#parMums .citats img{
	margin: .8rem;
	width: 18rem;
	border-radius: 1rem;
}



/*-----------------------------------------------------------Footer----------------------------------------------------------------------------------------------------------*/
footer{
	background: var(--light);
	padding: 1rem;
	margin-top: 2rem;
}

footer .box-container{
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;

}
footer .box1{
	display: flex;
	flex-direction: row;
	place-content: center;
}
footer .box1{
	
	border-left: solid 2px var(--maincolor);
	border-right: solid 2px var(--maincolor);
}
footer p{
	padding: .5rem 4rem;
	color: var(--tumsa);
	font-size: 1.2rem;
	line-height: 2rem;
}
footer .box a{
	padding: .5rem 0;
	color: var(--tumsa);
	font-size: 1.2rem;
	line-height: 2rem;
}

footer img{
	width: 16rem;
	margin: 0 8rem;
}















/*-------------------------------------------------------------------------------------Sniegs-------------------------------------------------------------------------------------*/


  .fa-snowflake {
	color: var(--sniegs);
  }
  
  .snow {
	width: 100%;
	height: 100%;
	position: absolute;
  }
  
  .snowflake {
	animation-name: fall, shake;
	animation-duration: 10s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 200px;
	z-index: 7;
	filter: blur(0.5px);
  }
  .snowflake1 {
	animation-name: fall, shake;
	animation-duration: 10s, 3s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 500px;
	top: -100px;
	animation-delay: 1s, 1s;
	z-index: 7;
  }
  
  .snowflake2 {
	animation-name: fall, shake;
	animation-duration: 8s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 20px;
	top: -100px;
	animation-delay: 2s, 2s;
	z-index: 7;

  }
  
  .snowflake3 {
	animation-name: fall, shake;
	animation-duration: 9s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 170px;
	top: -100px;
	animation-delay: 3s, 5s;
	z-index: 5;

  }
  
  .snowflake4 {
	animation-name: fall, shake;
	animation-duration: 15s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 430px;
	top: -100px;
	animation-delay: 4s, 4s;
	z-index: 5;
  }
  
  .snowflake5 {
	animation-name: fall, shake;
	animation-duration: 15s, 4s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 500px;
	top: -100px;
	animation-delay: 6s, 2s;
	font-size: 2rem;
	z-index: 6;

  }
  
  .snowflake6 {
	animation-name: fall, shake;
	animation-duration: 12s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 75px;
	top: -100px;
	animation-delay: 3.2s, 2s;
	font-size: 2rem;
	z-index: 6;
  }
  
  .snowflake7 {
	animation-name: fall, shake;
	animation-duration: 11s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 650px;
	top: -100px;
	animation-delay: 7.2s, 1s;
	z-index: 7;
  }
  
  .snowflake8 {
	animation-name: fall, shake;
	animation-duration: 12s, 4s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 820px;
	top: -100px;
	animation-delay: 4s, 2s;
	font-size: 2rem;
	z-index: 5;

  }
  
  .snowflake9 {
	animation-name: fall, shake;
	animation-duration: 12s, 4s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 170px;
	top: -100px;
	animation-delay: 5s, 2s;
	font-size: 2rem;
	z-index: 5;

  }
  
  .snowflake10 {
	animation-name: fall, shake;
	animation-duration: 15s, 9s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 350px;
	top: -100px;
	animation-delay: 2.7s, 2s;
	font-size: 3rem;
	z-index: 7;
  }
  
  .snowflake11 {
	animation-name: fall, shake;
	animation-duration: 12s, 7s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 400px;
	top: -100px;
	animation-delay: 0.5s, 2s;
	font-size: 3rem;
	z-index: 7;
  }
  
  .snowflake12 {
	/*small*/
	animation-name: fall, shake;
	animation-duration: 12s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	left: 470px;
	top: -100px;
	animation-delay: 5s, 2s;
	z-index: 7;

  }
  
  .snowflake13 {
	/*small*/
	animation-name: fall, shake;
	animation-duration: 10s, 5s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 220px;
	top: -100px;
	animation-delay: 1s, 2s;
	z-index: 7;

  }
  
  .snowflake14 {
	/*small*/
	animation-name: fall, shake;
	animation-duration: 9s, 4s;
	animation-timing-function: linear, ease-in-out;
	animation-iteration-count: infinite, infinite;
	position: absolute;
	right: 140px;
	top: -100px;
	animation-delay: 2s, 2s;
	z-index: 7;

  } 
  
  @keyframes fall {
	0% {
	  top: -10%;
	}
	100% {
	  top: 100%;
	}
  }
  
  @keyframes shake {
	0% {
	  transform: translateX(0);
	}
	50% {
	  transform: translateX(50px);
	}
	100% {
	  transform: translateX(0);
	}
  }
  